iot/node-red/flows.example.json
[
  {
    "id": "flow_cantrace",
    "type": "tab",
    "label": "CanTrace IoT Station",
    "disabled": false,
    "info": ""
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "Mosquitto Local",
    "broker": "127.0.0.1",
    "port": "1883",
    "clientid": "cantrace-nodered",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "ui_tab_cantrace",
    "type": "ui_tab",
    "name": "CanTrace",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui_group_area",
    "type": "ui_group",
    "name": "Area 01",
    "tab": "ui_tab_cantrace",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "mqtt_temp",
    "type": "mqtt in",
    "z": "flow_cantrace",
    "name": "Temperature",
    "topic": "cantrace/area-01/telemetry/temperature",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 120,
    "y": 80,
    "wires": [
      [
        "json_temp"
      ]
    ]
  },
  {
    "id": "json_temp",
    "type": "json",
    "z": "flow_cantrace",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 300,
    "y": 80,
    "wires": [
      [
        "change_temp"
      ]
    ]
  },
  {
    "id": "change_temp",
    "type": "change",
    "z": "flow_cantrace",
    "name": "payload.value",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.value",
        "tot": "msg"
      }
    ],
    "x": 470,
    "y": 80,
    "wires": [
      [
        "gauge_temp",
        "chart_temp"
      ]
    ]
  },
  {
    "id": "gauge_temp",
    "type": "ui_gauge",
    "z": "flow_cantrace",
    "name": "",
    "group": "ui_group_area",
    "order": 1,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "Temperatura",
    "label": "C",
    "format": "{{value}}",
    "min": 0,
    "max": 50,
    "colors": [
      "#00b5ad",
      "#e6e600",
      "#e60000"
    ],
    "seg1": "30",
    "seg2": "40",
    "x": 700,
    "y": 60,
    "wires": []
  },
  {
    "id": "chart_temp",
    "type": "ui_chart",
    "z": "flow_cantrace",
    "name": "",
    "group": "ui_group_area",
    "order": 2,
    "width": 6,
    "height": 3,
    "label": "Temperatura",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#00b5ad",
      "#000000",
      "#000000"
    ],
    "x": 700,
    "y": 100,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "mqtt_hum",
    "type": "mqtt in",
    "z": "flow_cantrace",
    "name": "Humidity",
    "topic": "cantrace/area-01/telemetry/humidity",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 120,
    "y": 160,
    "wires": [
      [
        "json_hum"
      ]
    ]
  },
  {
    "id": "json_hum",
    "type": "json",
    "z": "flow_cantrace",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 300,
    "y": 160,
    "wires": [
      [
        "change_hum"
      ]
    ]
  },
  {
    "id": "change_hum",
    "type": "change",
    "z": "flow_cantrace",
    "name": "payload.value",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.value",
        "tot": "msg"
      }
    ],
    "x": 470,
    "y": 160,
    "wires": [
      [
        "gauge_hum",
        "chart_hum"
      ]
    ]
  },
  {
    "id": "gauge_hum",
    "type": "ui_gauge",
    "z": "flow_cantrace",
    "name": "",
    "group": "ui_group_area",
    "order": 3,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "Umidade",
    "label": "pct",
    "format": "{{value}}",
    "min": 0,
    "max": 100,
    "colors": [
      "#00b5ad",
      "#e6e600",
      "#e60000"
    ],
    "seg1": "40",
    "seg2": "70",
    "x": 700,
    "y": 140,
    "wires": []
  },
  {
    "id": "chart_hum",
    "type": "ui_chart",
    "z": "flow_cantrace",
    "name": "",
    "group": "ui_group_area",
    "order": 4,
    "width": 6,
    "height": 3,
    "label": "Umidade",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#000000",
      "#000000"
    ],
    "x": 700,
    "y": 200,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "mqtt_light",
    "type": "mqtt in",
    "z": "flow_cantrace",
    "name": "Light",
    "topic": "cantrace/area-01/telemetry/light",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 110,
    "y": 240,
    "wires": [
      [
        "json_light"
      ]
    ]
  },
  {
    "id": "json_light",
    "type": "json",
    "z": "flow_cantrace",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 300,
    "y": 240,
    "wires": [
      [
        "change_light"
      ]
    ]
  },
  {
    "id": "change_light",
    "type": "change",
    "z": "flow_cantrace",
    "name": "payload.value",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.value",
        "tot": "msg"
      }
    ],
    "x": 470,
    "y": 240,
    "wires": [
      [
        "gauge_light"
      ]
    ]
  },
  {
    "id": "gauge_light",
    "type": "ui_gauge",
    "z": "flow_cantrace",
    "name": "",
    "group": "ui_group_area",
    "order": 5,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "Luminosidade",
    "label": "raw",
    "format": "{{value}}",
    "min": 0,
    "max": 1023,
    "colors": [
      "#00b5ad",
      "#e6e600",
      "#e60000"
    ],
    "seg1": "300",
    "seg2": "700",
    "x": 700,
    "y": 240,
    "wires": []
  },
  {
    "id": "mqtt_status",
    "type": "mqtt in",
    "z": "flow_cantrace",
    "name": "Status",
    "topic": "cantrace/area-01/status",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 110,
    "y": 320,
    "wires": [
      [
        "json_status"
      ]
    ]
  },
  {
    "id": "json_status",
    "type": "json",
    "z": "flow_cantrace",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 300,
    "y": 320,
    "wires": [
      [
        "fn_status"
      ]
    ]
  },
  {
    "id": "fn_status",
    "type": "function",
    "z": "flow_cantrace",
    "name": "Status to string",
    "func": "msg.payload = JSON.stringify(msg.payload);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 480,
    "y": 320,
    "wires": [
      [
        "text_status"
      ]
    ]
  },
  {
    "id": "text_status",
    "type": "ui_text",
    "z": "flow_cantrace",
    "group": "ui_group_area",
    "order": 6,
    "width": 6,
    "height": 1,
    "name": "Status",
    "label": "Status",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 700,
    "y": 320,
    "wires": []
  },
  {
    "id": "mqtt_alert",
    "type": "mqtt in",
    "z": "flow_cantrace",
    "name": "Alert",
    "topic": "cantrace/area-01/alert",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 100,
    "y": 380,
    "wires": [
      [
        "json_alert"
      ]
    ]
  },
  {
    "id": "json_alert",
    "type": "json",
    "z": "flow_cantrace",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 300,
    "y": 380,
    "wires": [
      [
        "fn_alert"
      ]
    ]
  },
  {
    "id": "fn_alert",
    "type": "function",
    "z": "flow_cantrace",
    "name": "Alert to string",
    "func": "msg.payload = JSON.stringify(msg.payload);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 470,
    "y": 380,
    "wires": [
      [
        "text_alert"
      ]
    ]
  },
  {
    "id": "text_alert",
    "type": "ui_text",
    "z": "flow_cantrace",
    "group": "ui_group_area",
    "order": 7,
    "width": 6,
    "height": 1,
    "name": "Alert",
    "label": "Alert",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 700,
    "y": 380,
    "wires": []
  },
  {
    "id": "ui_led",
    "type": "ui_switch",
    "z": "flow_cantrace",
    "name": "LED",
    "label": "LED",
    "group": "ui_group_area",
    "order": 8,
    "width": 3,
    "height": 1,
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "style": "",
    "onvalue": "ON",
    "onvalueType": "str",
    "offvalue": "OFF",
    "offvalueType": "str",
    "x": 260,
    "y": 460,
    "wires": [
      [
        "fn_led"
      ]
    ]
  },
  {
    "id": "fn_led",
    "type": "function",
    "z": "flow_cantrace",
    "name": "Format LED cmd",
    "func": "msg.payload = JSON.stringify({ state: msg.payload, source: \"dashboard\" });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 480,
    "y": 460,
    "wires": [
      [
        "mqtt_led"
      ]
    ]
  },
  {
    "id": "mqtt_led",
    "type": "mqtt out",
    "z": "flow_cantrace",
    "name": "LED cmd",
    "topic": "cantrace/area-01/command/led",
    "qos": "1",
    "retain": "false",
    "broker": "mqtt_broker",
    "x": 700,
    "y": 460,
    "wires": []
  },
  {
    "id": "ui_buzzer",
    "type": "ui_button",
    "z": "flow_cantrace",
    "name": "Buzzer",
    "label": "Buzzer",
    "group": "ui_group_area",
    "order": 9,
    "width": 3,
    "height": 1,
    "passthru": false,
    "labelAlignment": "left",
    "topic": "",
    "payload": "BEEP",
    "payloadType": "str",
    "x": 260,
    "y": 520,
    "wires": [
      [
        "fn_buzzer"
      ]
    ]
  },
  {
    "id": "fn_buzzer",
    "type": "function",
    "z": "flow_cantrace",
    "name": "Format buzzer cmd",
    "func": "msg.payload = JSON.stringify({ state: \"ON\", action: msg.payload, source: \"dashboard\" });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 480,
    "y": 520,
    "wires": [
      [
        "mqtt_buzzer"
      ]
    ]
  },
  {
    "id": "mqtt_buzzer",
    "type": "mqtt out",
    "z": "flow_cantrace",
    "name": "Buzzer cmd",
    "topic": "cantrace/area-01/command/buzzer",
    "qos": "1",
    "retain": "false",
    "broker": "mqtt_broker",
    "x": 700,
    "y": 520,
    "wires": []
  }
]
